 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 866px;
}

.u-section-1 .u-group-1 {
  min-height: 811px;
  height: auto;
  width: 1168px;
  margin: 27px -14px 26px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 370px;
  width: 326px;
  height: auto;
  margin: -18px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  width: 303px;
  margin: 12px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 303px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 6px 0 10px;
  padding: 18px 37px 19px 35px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 6px 0 10px;
  padding: 18px 37px 19px 35px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 6px 0 10px;
  padding: 18px 37px 19px 35px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 6px 0 10px;
  padding: 18px 37px 19px 35px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 6px 0 10px;
  padding: 18px 37px 19px 35px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 6px 0 10px;
  padding: 18px 37px 19px 35px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 6px 0 10px;
  padding: 18px 37px 19px 35px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 6px 0 10px;
  padding: 18px 37px 19px 35px;
}

.u-section-1 .u-image-1 {
  width: 817px;
  height: auto;
  min-height: 487px;
  background-image: url("images/340718bf5ed650bee8bd0f8ca94b368a6e24cb075f3c1894ac399e3273b78ed9674e3db3c0beecb73521efd28bd887154f9f7c124887de8812e853_1280.jpg");
  background-position: 50% 50%;
  margin: -340px 0 0 auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 263px;
  min-height: 423px;
  height: auto;
  margin: -136px auto 0 38px;
}

.u-section-1 .u-container-layout-12 {
  padding: 9px 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 7px 19px 0 11px;
}

.u-section-1 .u-list-2 {
  width: 173px;
  margin: 9px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 5px 5px;
}

.u-section-1 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 8px 0 0;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 10px 11px 0 auto;
  padding: 18px 41px 19px 40px;
}

.u-section-1 .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 8px 0 0;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 10px 11px 0 auto;
  padding: 18px 41px 19px 40px;
}

.u-section-1 .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 8px 0 0;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 10px 11px 0 auto;
  padding: 18px 41px 19px 40px;
}

.u-section-1 .u-list-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 8px 0 0;
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 10px 11px 0 auto;
  padding: 18px 41px 19px 40px;
}

.u-section-1 .u-group-5 {
  width: 800px;
  min-height: 250px;
  height: auto;
  margin: -262px 10px 0 auto;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 1028px;
    min-height: 838px;
    height: auto;
    margin: 14px auto 14px -38px;
  }

  .u-section-1 .u-group-2 {
    width: 276px;
    margin-top: 0;
    margin-left: 16px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-1 .u-list-1 {
    width: 262px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 283px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 18px 23px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 18px 23px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 18px 23px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 18px 23px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 18px 23px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 18px 23px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 18px 23px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 24px 18px 23px;
  }

  .u-section-1 .u-image-1 {
    width: 692px;
    min-height: 518px;
    margin-top: -361px;
    margin-right: 18px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -160px;
    margin-left: 40px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-list-2 {
    width: 185px;
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 325px;
  }

  .u-section-1 .u-group-5 {
    width: 671px;
    margin-top: -245px;
    margin-right: 27px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-1 .u-group-1 {
    width: 770px;
    min-height: 683px;
    margin: 15px -25px;
  }

  .u-section-1 .u-group-2 {
    margin-left: -19px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 232px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 249px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: -4px;
    padding: 14px 21px 14px 19px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: -4px;
    padding: 14px 21px 14px 19px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: -4px;
    padding: 14px 21px 14px 19px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: -4px;
    padding: 14px 21px 14px 19px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: -4px;
    padding: 14px 21px 14px 19px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: -4px;
    padding: 14px 21px 14px 19px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: -4px;
    padding: 14px 21px 14px 19px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-bottom: 6px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: -4px;
    padding: 14px 21px 14px 19px;
  }

  .u-section-1 .u-image-1 {
    width: 496px;
    min-height: 371px;
    margin-right: 15px;
  }

  .u-section-1 .u-group-4 {
    width: 252px;
    min-height: 362px;
    margin-top: -74px;
    margin-left: -15px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 22px;
    margin-left: 28px;
  }

  .u-section-1 .u-list-2 {
    width: 148px;
    margin-top: 5px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 277px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 7px;
    margin-right: 12px;
    padding: 13px 22px 13px 21px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 7px;
    margin-right: 12px;
    padding: 13px 22px 13px 21px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 7px;
    margin-right: 12px;
    padding: 13px 22px 13px 21px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 7px;
    margin-right: 12px;
    padding: 13px 22px 13px 21px;
  }

  .u-section-1 .u-group-5 {
    width: 491px;
    margin-top: -271px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-1 .u-group-1 {
    min-height: 997px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-2 {
    width: 507px;
    min-height: 190px;
    margin-top: 683px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-list-1 {
    width: 530px;
    margin-top: 15px;
    margin-right: -23px;
    margin-bottom: -8px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 138px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: -8px;
    padding: 11px 27px 18px 26px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-left: -8px;
    padding: 11px 27px 18px 26px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-left: -8px;
    padding: 11px 27px 18px 26px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
    margin-left: -8px;
    padding: 11px 27px 18px 26px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 0;
    margin-left: -8px;
    padding: 11px 27px 18px 26px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 0;
    margin-left: -8px;
    padding: 11px 27px 18px 26px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 0;
    margin-left: -8px;
    padding: 11px 27px 18px 26px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 0;
    margin-left: -8px;
    padding: 11px 27px 18px 26px;
  }

  .u-section-1 .u-image-1 {
    min-height: 387px;
    margin-top: -857px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-4 {
    width: 555px;
    min-height: 135px;
    margin-top: 458px;
    margin-right: -25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 207px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-2 {
    width: 520px;
    margin-top: 0;
    margin-right: 42px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
    min-height: 74px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-right: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: -574px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1098px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: 618px;
    min-height: 287px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    width: 273px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 249px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 355px;
    width: 384px;
    margin-top: -915px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 569px;
    min-height: 160px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-right: auto;
    margin-left: -9px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    min-height: 123px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 2px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 2px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 2px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 2px;
    margin-right: 11px;
  }

  .u-section-1 .u-group-5 {
    width: 387px;
    min-height: 235px;
    margin-top: -710px;
    margin-left: -24px;
    margin-right: -24px;
  }
}